<footer class="footer">

  <div class="container footer-grid">

    <div>

      <a
        routerLink="/"
        class="logo">

        NOVA<span>IMMO</span>

      </a>

      <p class="description">

        Immobilier • Investissement
        <br>
        Développement

      </p>

      <p class="location">

        📍 Jacmel, Haïti

      </p>

    </div>


    <div>

      <h4>
        Navigation
      </h4>

      <a routerLink="/">
        Accueil
      </a>

      <a routerLink="/properties">
        Propriétés
      </a>

      <a routerLink="/projects">
        Projets
      </a>

      <a routerLink="/contact">
        Contact
      </a>

    </div>


    <div>

      <h4>
        NovaImmo
      </h4>

      <p>
        Jacmel
      </p>

      <p>
        Sud-Est
      </p>

      <p>
        Haïti
      </p>

      <p>
        contact@novaimmo.com
      </p>

    </div>


    <div>

      <h4>
        Espace
      </h4>

      <a routerLink="/login">
        Connexion
      </a>

      <a routerLink="/register">
        Créer un compte
      </a>

      <a routerLink="/appointment">
        Rendez-vous
      </a>

    </div>

  </div>


  <div class="footer-bottom">

    <div class="container">

      © {{ currentYear }}
      NovaImmo —
      Tous droits réservés.

    </div>

  </div>

</footer>
