<section class="auth-page">

  <div class="auth-wrapper">


    <div class="auth-presentation">

      <span>
        NOVAIMMO • JACMEL
      </span>

      <h1>
        Créez votre espace immobilier.
      </h1>

      <p>

        Suivez vos visites,
        rendez-vous, transactions,
        documents et paiements
        depuis un seul espace.

      </p>

    </div>


    <div class="auth-card">

      <span class="section-label">
        INSCRIPTION
      </span>

      <h2>
        Créer un compte client
      </h2>


      @if (errorMessage) {

      <div class="error-message">
        {{ errorMessage }}
      </div>

      }


      <form
        [formGroup]="registerForm"
        (ngSubmit)="submit()">


        <div class="form-row">


          <div class="form-group">

            <label for="nom">
              Nom
            </label>

            <input
              id="nom"
              type="text"
              formControlName="nom"
              autocomplete="family-name"
              placeholder="Votre nom">

            @if (
            registerForm.controls.nom.touched
            &&
            registerForm.controls.nom.invalid
            ) {

            <small class="field-error">
              Le nom est requis.
            </small>

            }

          </div>


          <div class="form-group">

            <label for="prenom">
              Prénom
            </label>

            <input
              id="prenom"
              type="text"
              formControlName="prenom"
              autocomplete="given-name"
              placeholder="Votre prénom">

            @if (
            registerForm.controls.prenom.touched
            &&
            registerForm.controls.prenom.invalid
            ) {

            <small class="field-error">
              Le prénom est requis.
            </small>

            }

          </div>


        </div>


        <div class="form-group">

          <label for="email">
            Email
          </label>

          <input
            id="email"
            type="email"
            formControlName="email"
            autocomplete="email"
            placeholder="email@example.com">

          @if (
          registerForm.controls.email.touched
          &&
          registerForm.controls.email.invalid
          ) {

          <small class="field-error">
            Entrez une adresse email valide.
          </small>

          }

        </div>


        <div class="form-group">

          <label for="telephone">
            Téléphone
          </label>

          <input
            id="telephone"
            type="tel"
            formControlName="telephone"
            autocomplete="tel"
            placeholder="+509 ...">

        </div>


        <div class="form-group">

          <label for="password">
            Mot de passe
          </label>

          <input
            id="password"
            type="password"
            formControlName="password"
            autocomplete="new-password"
            placeholder="Minimum 6 caractères">

          @if (
          registerForm.controls.password.touched
          &&
          registerForm.controls.password.invalid
          ) {

          <small class="field-error">
            Le mot de passe doit contenir au moins 6 caractères.
          </small>

          }

        </div>


        <div class="form-group">

          <label for="confirmPassword">
            Confirmer le mot de passe
          </label>

          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            autocomplete="new-password"
            placeholder="Retapez votre mot de passe">

        </div>


        <button
          type="submit"
          [disabled]="submitting">

          @if (submitting) {

          Création du compte...

          }

          @else {

          Créer mon compte

          }

        </button>


      </form>


      <p class="login-link">

        Vous avez déjà un compte ?

        <a routerLink="/login">
          Se connecter
        </a>

      </p>


    </div>

  </div>

</section>
